<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>winner</title>
  </head>
  <body>
    <h1>Winner!</h1>

    <form  action="/winner" method="post">
      <button type="submit" name="button">play agian?</button>
    </form>

  </body>
</html>
